<% content_for :head do %>
  <%= stylesheet_link_tag('jquery.fileupload-ui') %>
<% end %>

<% content_for :scripts do%>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<%= javascript_include_tag 'jquery.fileupload', 'jquery.fileupload-ui' %>
	
<script type="text/javascript" charset="utf-8">

	$(function () {
	    $('.upload').fileUploadUI({
	        uploadTable: $('.upload_files'),
	        downloadTable: $('.download_files'),
	        buildUploadRow: function (files, index) {
	            var file = files[index];
	            return $('<tr><td>' + file.name + '<\/td>' +
	                    '<td class="file_upload_progress"><div><\/div><\/td>' +
	                    '<td class="file_upload_cancel">' +
	                    '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancel">' +
	                    '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
	                    '<\/div><\/td><\/tr>');
	        },
	        buildDownloadRow: function (file) {
	            return $('<tr><td><a href="' + file.doc_path + '">' + file.name + '</a><\/td><\/tr>');
	        }
	    });
	});
</script>
<% end %>

<div class="files"> 
	<%= form_for @upload, :html => { :class => "upload", :multipart => true } do |f| %>
			<%= f.file_field :document %>
	  	<div>Upload files</div>
	<% end %>

	<table class="upload_files"></table>
	<table class="download_files"></table>
</div>

<h3>Old Uploads</h3>
<% @uploads.each do |upload| %>
	<p><%= link_to upload.document_file_name, upload.document.url %></p>
<% end %>
	